body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para o cabeçalho */
header {
    background-image: radial-gradient(circle at 50% -20.71%, #d7c35d 0, #deba54 8.33%, #e4b04d 16.67%, #e9a546 25%, #ed9841 33.33%, #f0893e 41.67%, #f2793c 50%, #f3673d 58.33%, #f35542 66.67%, #f34249 75%, #f22b52 83.33%, #f0065d 91.67%, #ec0069 100%);
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para a seção de produtos */
.produtos {
    padding: 20px;
}

/* Estilos para o rodapé */
footer {
    background-image: radial-gradient(circle at 50% -20.71%, #d7c35d 0, #deba54 8.33%, #e4b04d 16.67%, #e9a546 25%, #ed9841 33.33%, #f0893e 41.67%, #f2793c 50%, #f3673d 58.33%, #f35542 66.67%, #f34249 75%, #f22b52 83.33%, #f0065d 91.67%, #ec0069 100%);
    color: rgb(243, 235, 235);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
h1{
    font-family: pe;
}
@font-face {
    font-family: pe;
    src: url(fontes/Super\ Kinds.ttf);
}